manifest {
    name = 'BfArM-MVH/grzqc'
    contributors = [
        [
            name: 'Travis Wrightsman',
            affiliation: 'University of Tübingen',
            email: 'travis.wrightsman@uni-tuebingen.de',
            github: 'twrightsman',
            contribution: ['author'],
        ]
    ]
    homePage = 'https://github.com/BfArM-MVH/grzqc'
    description = """QC pipeline for GRZs within the genomDE Model Project"""
    mainScript = 'main.nf'
    defaultBranch = 'main'
    version = '1.0.0dev1'
}

params {
  genomes {
    'GRCh37' {
      fasta = "grz-mini-test-data/references/GRCh37/mini.fa.gz"
      regions = "grz-mini-test-data/references/GRCh37/mini.genes.bed"
    }
    'GRCh38' {
      fasta = "grz-mini-test-data/references/GRCh38/mini.fa.gz"
      regions = "grz-mini-test-data/references/GRCh38/mini.genes.bed"
    }
  }
}

process {
  withLabel:process_single {
    cpus   = { 1                   }
    memory = { 1.GB * task.attempt }
    time   = { 10.m * task.attempt }
  }

  withLabel:process_low {
    cpus   = { 2    * task.attempt }
    memory = { 2.GB * task.attempt }
    time   = { 10.m * task.attempt }
  }

  withLabel:process_medium {
    cpus   = { 2    * task.attempt }
    memory = { 4.GB * task.attempt }
    time   = { 10.m * task.attempt }
  }

  withLabel:process_high {
    cpus   = { 4    * task.attempt }
    memory = { 4.GB * task.attempt }
    time   = { 10.m * task.attempt }
  }

  withName: PICARD_ADDORREPLACEREADGROUPS {
    ext.prefix = { "${meta.id}.replaced"}
    ext.args = {[
      "--RGLB ${meta.id}",
      "--RGPL ILLUMINA",
      "--RGPU noBC",
      "--RGSM ${meta.id}",
      "--TMP_DIR ptmp/"
    ].join(' ').trim()}
  }

  withName: PICARD_MARKDUPLICATES {
    ext.prefix = { "${meta.id}.marked" }
    ext.args = {[
      "--CREATE_INDEX",
      "--TMP_DIR ptmp/"
    ].join(' ').trim()}
  }
}
