profiles {
    slurm {
        process {
            // Picked from the options above
            executor   = 'slurm'

            // The queue directory allows you to set the queue where jobs are scheduled when using a grid based executor
            // queue      = 'standard'

            // Number of retries when a job fails. Each subsequent run will use more memory in an attempt to solve memory errors.
            maxRetries = 3

            // Enable this option to copy all input files to a local scratch directory:
            // scratch = true

            clusterOptions = '--no-requeue'
        }
    }
}
